@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

img{
    user-select: none;
}

$brown: #ddb993;
$light-brown: #f7ece0;
$light-color: #777;
$light-white:#eee;
$black: #444;
$white: #fff;
$border: .1rem solid $brown;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
}

@mixin graphText($graphSize){
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background: $light-color;
    }
}

section{
    padding: 5rem 10%;
}

.heading-link{
    text-align: center;
    background: url(../images/heading-bg.png) no-repeat;
    background-size: cover;
    background-position: center;

    h3{
        @include titleText(4rem);
    }

    p{
        @include graphText(2rem);

        a{
            color: $light-color;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
    @include titleText(3.5rem);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: $border;
    background: $brown;
    color: $white;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: .5rem;

    &:hover{
        background: $black;
        color: $white;
    }
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    box-shadow: $box-shadow;
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;

    .logo{
        margin-right: auto;
        @include titleText(2.5rem);
        font-weight: bolder;

        i{
            color: $brown;
        }
    }

    .navbar {
        position: relative;

        #close-navbar{
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            font-size: 4rem;
            cursor: pointer;
            color: $black;
            display: none;

            &:hover{
                transform: rotate(90deg);
            }
        }

        a{
            margin-right: 2rem;
            @include titleText(2rem);

            &:hover{
                color: $brown;
            }
        }
    }

    .icons div{
        cursor: pointer;
        font-size: 2.5rem;
        color: $black;
        margin-left: 2rem;

        &:hover{
            color: $brown;
        }
    }

    #menu-btn{
        display: none;

    }
}

.account-form{
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background: $white;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;

    &.active{
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
    }

    #close-form{
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        font-size: 4rem;
        cursor: pointer;
        color: $black;

        &:hover{
            transform: rotate(90deg);
        }
    }

    form{
        border: $border;
        padding: 2rem;
        display: none;

        &.active{
            display: block;
        }

        h3{
            @include titleText(3rem);
            padding-bottom: .5rem;
            text-transform: uppercase;
        }

        .box{
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            font-size: 1.6rem;
            margin: .7rem 0; 
            border-radius: .5rem; 

        }

        .flex{
            padding: 1rem 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            label{
                font-size: 1.5rem;
                color: $light-color;
                cursor: pointer;
            }

            a{
                font-size: 1.5rem;
                color: $light-color;
                margin-left: auto;
                
                &:hover{
                    text-decoration: underline;
                    color: $brown;
                }
            }
        }

        .btn{
            width: 100%;
        }
    }

    .buttons .btn{
        margin: 0 .5rem;

        &:hover{
            background: $brown;
            color: $white;
        }
    }
}

.home{
    padding: 0;

    .slide{
        display: flex;
        align-items: center;
        height: 60rem;
        background-size: cover !important;
        background-position: center !important;

        .content{
            width: 50rem;
            

            h3{
                @include titleText(4.5rem);
                color: $black;
            }

            p{
                @include graphText(1.6rem);
                color: $light-color;
                padding: 1rem 0;
            }
        }
    }
}

.swiper-pagination-bullet-active{
    background: $brown;
}

.home-subjects{
    .box-container{
        @include grid(16rem);

        .box{
            padding: 3rem 2rem;
            text-align: center;
            border: $border;
            background: $light-brown;
            cursor: pointer;

            &:hover{
                background: $brown;

                h3{
                    color: $white;
                }

                p{
                    color: $light-white;
                }
            }

            img{
                height: 10rem;
                margin-bottom: .7rem;
                border-radius: .7rem;
            }

            h3{
                @include titleText(1.7rem);
                padding: .5rem 0;
            }

            p{
                @include graphText(1.5rem);
            }
        }

    }
}

.home-courses{
    .slide{
        text-align: center;
        position: relative;
        background: $light-brown;
        overflow: hidden;

        &:hover .content{
            bottom: 0;
        }

        .image{
            padding: 2rem;

            img{
                width: 100%;
                margin-bottom: 1.5rem;
                border-radius: .7rem;
            }

            h3{
                @include titleText(2rem);
            }
        }

        .content{
            position: absolute;
            bottom: -100%;
            right: 0;
            left: 0;
            background: $brown;
            padding: 2rem 3rem;

            h3{
                @include titleText(2rem);
                color: $white;
            }

            p{
                padding: 1rem 0;
                @include graphText(1.5rem);
                color: $light-white;
            }

            .btn:hover{
                background: $black;
            }
        }

    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .image{
        flex: 1 1 40rem;

        img{
            width: 100%;
            border-radius: .7rem;
        }
    }

    .content{
        flex: 1 1 40rem;

        .about-title{
            @include titleText(3rem);
        }

        p{
            @include graphText(1.5rem);
            padding: 1rem 0;
        }

        .icons-container{
            margin-top: 1rem;
            @include grid(16rem);

            .icons{
                text-align: center;
                border: $border;
                background: $light-brown;
                padding: 3rem 2rem;

                img{
                    height: 8rem;
                    margin-bottom: .5rem;
                    border-radius: .5rem;
                }

                h3{
                    padding: .5rem 0;
                    @include titleText(3rem);
                }

                span{
                    @include graphText(1.5rem);
                }
            }
        }
    }
}

.teachers{
    .slide{
        text-align: center;
        width: 30rem;

        &:hover{

            .image{
                img{
                    background: $brown;
                }

                .share{
                    bottom: 0;
                }
            }
        }

        .image{
            position: relative;
            overflow: hidden;

            img{
                background: $light-brown;
                width: 100%;
            }

            .share{
                position: absolute;
                bottom: -10rem;
                left: 0;
                right: 0;
                background: rgba(0,0,0,.8);
                padding: 2rem;

                a{
                    font-size: 3rem;
                    margin: 0 1rem;
                    color: $white;

                    &:hover{
                        color: $brown;
                    }
                }
            }
        }

        .content{
            display: flex;
            padding-top: 1rem;
            align-items: center;
            justify-content: space-between;

            h3{
                @include titleText(2rem);
            }

        }

    }
}

.reviews{
    .slide{
        text-align: center;

        p{
            @include graphText(1.5rem);
            position: relative;
            background: $light-brown;
            border: $border;
            margin-bottom: 3rem;
            padding: 2rem;

            &::before{
                content: '';
                position: absolute;
                bottom: -1.2rem;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                background: $light-brown;
                border-bottom: $border;
                border-right: $border;
                height: 2rem;
                width: 2rem;
            }
        }

        img{
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
        }

        h3{
            @include titleText(2.2rem);
            padding: .5rem 0;
        }

        .stars{
            font-size: 1.2rem;
            color: $brown;
        }
    }
}

.subjects{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }

                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: $border;

                    span{
                        @include titleText(1.5rem);

                        i{
                            color: $brown;
                            padding-right: .5rem;
                        }
                    }
                }
            }
        }
    }

}

.class1{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class2{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class3{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class4{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class5{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class6{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class7{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class8{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class9{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class10{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class11{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.class12{
    .subjects-box{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }
            }
        }
    }
}

.courses{
    .box-container{
        @include grid(30rem);

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: $white;

                }
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.6rem);
                }

                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: $border;

                    span{
                        @include titleText(1.5rem);

                        i{
                            color: $brown;
                            padding-right: .5rem;
                        }
                    }
                }
            }
        }
    }

    .load-more{
        margin-top: 2rem;
        text-align: center;
    }
}

.contact{

    .icons-container{
        margin-bottom: 3rem;
        @include grid(25rem);

        .icons{
            text-align: center;
            padding: 3rem 2rem;
            border: $border;
            background: $light-brown;

            i{
                height: 6rem;
                width: 6rem;
                line-height: 6rem;
                font-size: 2rem;
                border-radius: 50%;
                margin-bottom: .5rem;
                color: $white;
                background: $brown;
            }

            h3{
                @include titleText(2rem);
                padding: .5rem 0;
            }

            p{
                @include graphText(1.5rem);
            }
        }
    }

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .image{
            flex: 1 1 40rem;

            img{
                width: 100%;
                border-radius: .5rem;
            }
        }

        form{
            flex: 1 1 40rem;
            border: $border;
            padding: 2rem;

            h3{
                @include titleText(2.5rem);
                padding-bottom: 1rem;
            }

            .box{
                width: 100%;
                padding: 1.2rem 1.4rem;
                border: $border;
                font-size: 1.6rem;
                margin: .7rem 0;
                border-radius: .5rem;

                &:focus{
                    background: $brown;
                    color: $white;

                    &::placeholder{
                        color: $light-white;
                    }
                }
            }

            textarea{
                height: 15rem;
                resize: none;
            }
        }
    }
}

.faq{
    .accordion-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: flex-start;

        .accordion{
            flex: 1 1 40rem;
            border: $border;

            &.active{
                .accordion-heading{
                    background: $brown;

                    h3{
                        color: $white;
                    }

                    i{
                        color: $white;
                        transform: rotate(180deg);
                    }
                }

                .accordion-content{
                    display: block;
                }
            }

            .accordion-heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                cursor: pointer;
                padding: 1.5rem;

                h3{
                    @include titleText(2rem);
                }

                i{
                    font-size: 2rem;
                    color: $brown;
                }
            }

            .accordion-content{
                padding: 1.5rem;
                @include graphText(1.5rem);
                border-top: $border;
                display: none;
            }
        }
    }
}

.logo-container{
    text-align: center;

    img{
        height: 10rem;
        pointer-events: none;
    }
}


.footer{
    background: $light-brown;

    .box-container{
        @include grid(25rem);

        .box{
            h3{
                @include titleText(2.2rem);
                padding:1rem 0;

                i{
                    color: $brown;
                }
            }

            .share{
                margin-top: 1rem;

                a{
                    height: 3rem;
                    width: 3rem;
                    line-height: 3rem;
                    font-size: 2rem;
                    border-radius: 0.5rem;
                    background-color: $brown;
                    color: $white;
                    margin-right: .3rem;
                    text-align: center;

                    &:hover{
                        background-color: $black;
                    }
                }
            }

            .link{
                @include graphText(1.7rem);
                padding: .2rem 0;
                display: block;

                &:hover{
                    color: $brown;
                    text-decoration: underline;
                }
            }

            p{
                @include graphText(1.5rem);
                padding: 1rem 0;
            }

            .email{
                width: 100%;
                padding: 1.2rem 1.4rem;
                font-size: 1.6rem;
                border: $border;
                margin-bottom: 1rem;
            }
        }
    }

    .credit{
        text-align: center;
        margin-top: 3rem;
        padding-top: 3rem;
        @include titleText(2rem);
        border-top: $border;

        span{
            color: $brown;
        }
    }
}










//media queries

@media (max-width:1200px){

    .header{
        padding: 2rem 5%;
    }

    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:768px){

    .header{
        
        #menu-btn{
            display: inline-block;
        }

        .navbar{
            position: fixed;
            top: 0;
            right: -105%;
            width: 30rem;
            background: $white;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            z-index: 1200;

            #close-navbar{
                display: block;
            }

            &.active{
                box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
                right: 0;
            }

            a{
                display: block;
                margin: 1rem 0;
                text-align: center;
                font-size: 3rem;
            }
        }
    }

    .home .slide .content h3{
        font-size: 3rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .about .content .about-title{
        font-size: 4rem;
    }
}